@model EbookReader.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCoverImagePath" class="control-label"></label>
                <input asp-for="BookCoverImagePath" class="form-control" />
                <span asp-validation-for="BookCoverImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedDateTime" class="control-label"></label>
                <input asp-for="UploadedDateTime" class="form-control" />
                <span asp-validation-for="UploadedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedByUserId" class="control-label"></label>
                <select asp-for="UploadedByUserId" class="form-control" asp-items="ViewBag.UploadedByUserId"></select>
                <span asp-validation-for="UploadedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
